<!--ログイン画面用-->
{% extends "base.html" %}
 
{% block content %}
 
{% if form.errors %}
<p>ユーザー名とパスワードが一致しませんでした。もう一度お試しください。</p>
{% endif %}
 
{% if next %}
    {% if user.is_authenticated %}
    <p>あなたのアカウントはこのページにアクセスできません。続行するには、アクセス権のあるアカウントでログインしてください。</p>
    {% else %}
    <p>このページを見るにはログインしてください。</p>
    {% endif %}
{% endif %}
 
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
 
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}