/* default  */
body{
    background-color:#ffffff;
}

ul {
    list-style:none;
    }

/*  toppage  */
.toplogo{

    padding-top: 5px;
    padding-bottom: 5px;
}

.description{
    text-align: center;
}

.kari{
    text-align: center;
}

/*  mainpage  */

/*  editpage  */
header{
    width: 100%;
    height: 55px;
    position: fixed;
    top:0;
    z-index: 10;
    background-color: #66BAB7;
}

#syunyu{
    margin-top: -55px;
    padding-top: 55px;
}

#kotei{
    margin-top: -55px;
    padding-top: 55px;
}

#tokubetu{
    margin-top: -55px;
    padding-top: 55px;
}

.edittop{

    padding-top: 45px;
}
.set{
    width: 100%;
}
.itemname{
    width: 70%;
}
.income, .fixedcost, .sp-fixedcost{
    width:80%;
    text-align: right;
    float: right;
}
.income, .itemname, .fixedcost, .sp-fixedcost{
    margin: 3px;
    margin-bottom: 10px;
    border-top: none;
    border-right: none;
    border-left: none;

}

/*  footer  */
footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: #66BAB7;
}

/*　スマホ用　*/
@media screen and (max-width: 480px){
    /*  toppage  */
    .topDesc{
        background-color: #4CAF50;
    }

    .topDesc h1{        
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        padding: 20px;
    }

    .spLogo{
        width:100%;
        margin:0 auto;
    }

    .globalManuPC h1{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .spHidden{
        display:none;
    }
    
    .spSpace{
        padding:20px;
    }

    .serviceOverView h2{
        font-size: 22px;
    }

    .serviceOverView h3{
        font-size: 20px;
        font-weight: 700;
        line-height: 1.7em;
        color: #212121;
    }

    .globalManuPC li{
    }

    .signUp{
        display: flex;
        text-align: center;
        background-color: #4CAF50;
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0px;
    }

    .signUp a{
        
        color: #ffffff;
        line-height: 1.5em;
        margin: 10px;
        padding: 10px;
    }

}
