/* default  */
body{
    background-color: azure;
    margin: 0px;
}

h4{
    font-size:1.2rem;
    
}

ul {
    list-style:none;
    padding-inline-start: 0px;
    }

.myhr{
    margin: 0px;
    border-top: 2px solid rgba(0,0,0,.1);
}

.balanceSheet{
    padding: 10px 30px;
    color:#424242;
}

.displayarea{
    padding: 55px 0px 60px 0px;
}

.profmenu{
    padding-top: 30px;
    text-align: center;
}

.container{
    text-align: center;
}

/*  toppage  ----------------------------*/
.topDesc{
    background-size: cover;
    background-color: #4CAF50;
}

.toplogo{

    padding-top: 35px;
    padding-bottom: 35px;
}

.spHiddenline{
    display: inline-block;
    padding: 20px 50px;
    margin: 30px;
    background-color: #4CAF50;
    border-radius: 40px;
}

.spHiddenline a{
    color:azure;
}

.description{
    text-align: center;
    color:#424242;
    padding: 0px 0px 30px 0px;
}

.TOPBETA{
    text-align: center;
}

.subjectTop{
    padding: 30px 0px;
    color:white;
}

.subjectTop h2{
    font-size: 2.5em;
}

.FutureTop{
    height:80px;
    padding:15px 0px 10px 0px;
    color: azure;
}

.explanatoryText{
    text-align: center;
    padding: 15px;
    color: azure;
}

.threeContents{
    background-color:#c8e6c9;
}

.threeFuture{
    text-align: -webkit-center;
}

.threeFuturein{
    background-color:#4CAF50;
    width: 85%;
    border-radius:10px;
    box-shadow: 0px -2px 15px #388e3c;
    height: 295px;
    margin-bottom: 30px;
}

.topLoginMenu{
    display: none;
}

.kari{
    text-align: center;
}
/*profile Page-----------------------------*/
.profileTop{
    text-align: center;
}

/*  mainpage  ------------------------------*/
.mainTopMonth{
    width: 100%;
    margin: 0 auto;
    background-color: #388e3c;
    text-align: center;
    display: flex;
}

.frontAndBackF{
    font-size: 2em;
    font-weight: 800;
    transition:0.2s;
}

.frontAndBackB{
    font-size: 2em;
    font-weight: 800;
    transition:0.2s;
}

.frontAndBackF:active{
    padding: 0px 0px 0px 10px ;
    
}

.frontAndBackB:active{
    padding: 0px 10px 0px 0px ;
}

.cuaContainer{
    background-color: #4CAF50;
    padding: 10px 10px;
    z-index: 2px;
    box-shadow: 0px 2px 5px #757575;
}

.canUseAmount{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

.editAmount{
    background-color: #ffc107;
    box-shadow: 0px 2px 15px #757575;
    color: white;
    text-align: right;
    padding: 15px;
    border-radius: 50%;
    transition:0.2s;
}

.editAmount:active{
    box-shadow: 0 0 5px #757575;
}

.editbutton{
    position: fixed;
    z-index: 10;
    right: 10px;
    top:200px;
}

.totalIncome{
    font-size: 30px;
    text-align: center
}

.totalFixed{
    font-size: 30px;
    text-align: center
}

.totalSp{
    font-size: 30px;
    text-align: center
}

.mainZacklyButtom{
    background-color: #f0fff0;
    border-radius: 40px;
    padding: 0px 15px 5px 15px;
    color:#ffa500;
    float: right;
}
/*  editpage  ----------------------------------------*/
header{
    width: 100%;
    height: 55px;
    position: fixed;
    top:0;
    z-index: 10;
    background-color: #4CAF50;
}

.col12{
    display: flex;
    width:100%;
    height:55px;
    align-items: center;
}

.editGlobalMenu{
    width:25%;
    text-align: center;
}

.editGlobalMenu a{
    color:white;
    padding: 18% 30%;
}

#syunyu{
    margin-top: -55px;
    padding-top: 55px;
}

#kotei{
    margin-top: -55px;
    padding-top: 55px;
}

#tokubetu{
    margin-top: -55px;
    padding-top: 55px;
}

.edittop{
    padding-top: 45px;
}
.set{
    width: 100%;
}
.itemname{
    width: 70%;
}
.income, .fixedcost, .sp-fixedcost{
    width:80%;
    text-align: right;
    float: right;
}
.income, .itemname, .fixedcost, .sp-fixedcost{
    margin: 3px;
    margin-bottom: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.submitbutton{
    position: fixed;
    z-index: 10;
    right: 10px;
    top:70px;
}

.submitAmount{
    background-color: #ffc107;
    box-shadow: 2px 5px 10px #757575;
    color: #212121;
    text-align: right;
    padding: 15px 12px;
    border-radius: 50%;
    border-width: 0px;
    transition:0.2s;
}

.submitAmount:active{
    box-shadow: 0 0 5px #757575;
}

/*  footer  --------------------------------*/
footer{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: #4CAF50;
}
/*メニュー-------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    .menuContents {
    /*メニュー設置する親要素*/
    position: relative;
    height: 1px;
    margin: 0;
    padding: 0;
    }
    
    .cp_link11 {
    position: fixed;
    bottom: 40%;
    right: 0.1%;
    display: block;
    margin: 0;
    z-index: 20;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    }

    .cp_link11 a {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0.8;
    }
    .cp_link11 .cp_link {
    margin-left: -40px;
    }

    .cp_link11 .cp_link,
    .cp_link11 .cp_open_btn {
    line-height: 50px;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -40px;
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition:         transform ease-out 200ms;
    transition:         transform ease-out 200ms, -webkit-transform ease-out 200ms;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-align: center;
    color: #ffffff;
    border-radius: 100%;
    background: #ffc107;
    box-shadow: 2px 5px 10px #757575;
    font-size: 18px;
    }
    .cp_link11 .cp_link_list {
    font-size: 26px;
    z-index: 99;
    box-sizing: border-box;
    width: 80px;
    height: 50px;
    margin: auto;
    text-align: center;
    }
    .cp_link11 .cp_link_list a.cp_link .fa {
    color: #ffffff;
    }
    .cp_link11 .cp_open {
    display: none;
    }
    .cp_link11 .cp_share {
    color: #ffffff;
    }
    .cp_link11 .cp_link:hover {
    opacity: 1;
    }
    .cp_link11 .cp_link:nth-child(3),
    .cp_link11 .cp_link:nth-child(4),
    .cp_link11 .cp_link:nth-child(5),
    .cp_link11 .cp_link:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    }
    .cp_link11 .cp_open_btn {
    z-index: 2;
    cursor: pointer;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    }
    .cp_link11 .cp_open_btn:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }
    .cp_link11 .cp_open:checked + .cp_open_btn {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }
    .cp_link11 .cp_open:checked ~ .cp_link {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    }
    .cp_link11 .cp_open:checked ~ .cp_link:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -64px, 0);
    transform: translate3d(0.08361px, -64px, 0);
    }
    .cp_link11 .cp_open:checked ~ .cp_link:nth-child(4) {
    -webkit-transition-duration: 280ms;
    transition-duration: 280ms;
    -webkit-transform: translate3d(0.08361px, -134px, 0);
    transform: translate3d(0.08361px, -134px, 0);
    }
    .cp_link11 .cp_open:checked ~ .cp_link:nth-child(5) {
    -webkit-transition-duration: 380ms;
    transition-duration: 380ms;
    -webkit-transform: translate3d(0.08361px, -202px, 0);
    transform: translate3d(0.08361px, -202px, 0);
    }
    .cp_link11 .cp_open:checked ~ .cp_link:nth-child(6) {
    -webkit-transition-duration: 480ms;
    transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, -270px, 0);
    transform: translate3d(0.08361px, -270px, 0);
    }
    .cp_link11 .toEditPage {
    background-color: #FF9800;
    }
    .cp_link11 .toProfile {
    background-color: #FF5722;
    }
    .cp_link11 .logout {
    background-color: #dd4b39;
    }
    .cp_link11 .instagram {
    background: radial-gradient(circle at 0% 90%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285aeb 90%);
    }
/*-------------------------------------------*/
@media screen and (min-width: 768px){
    .container {
        max-width: 100%;
    }
}

@media screen and (min-width: 576px){
    .container {
        max-width: 100%;
    }
}
/*　スマホ用　*/
@media screen and (max-width: 480px){
    /*  toppage  */

    .toplogo{
        padding: 5px 10px;
    }

    .topDesc{
        background-color: #4CAF50;
        height: 55px;
    }

    .topDesc h1{        
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 0px 10px 0px;
    }

    .spLogo{
        width:100%;
        margin:0 auto;
        padding:30px 0px 30px 0px;
    }

    .globalManuPC h1{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .spHidden{
        display:none;
    }
    
    .spSpace{
        padding:5px 0px 10px 0px;
    }

    .serviceOverView h2{
        font-size: 22px;
    }

    .serviceOverView h3{
        font-size: 20px;
        font-weight: 700;
        line-height: 1.7em;
        color: #212121;
    }

    .signUp{        
        text-align: center;
        background-color: #4CAF50;
        box-shadow: 0px -2px 15px #757575;
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0px;
    }

    .signUp a{        
        color: #ffffff;
        text-decoration: none;
        margin: 5px;
        padding: 10px 0px 10px 0px;
    }

    .col{
        transition:.2s;
    }
   
    .col:hover{
        background-color: #388e3c;
    }

    .col:active{
        box-shadow: 0 -1px 4px 2px #212121 inset;
    }

    .col p{
        line-height: 3.9em;
    }

    .subjectTop h2{
        font-weight:bold;
        margin-top:20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .threeFuture{
        text-align: -webkit-center;
    }
 
    .topLoginMenu{
        display: inherit;
    }
    /* mainpage */
    .col4{
        
        width: 33%;
    }
}
