<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--bootstrap CDN css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--static file css-->
    <link rel="stylesheet" type="text/css" href="{% static 'zacklymain/style.css' %}" />
    <title>Zackly</title>
</head>
<body>
    <header><!--ヘッダー固定-->
        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#syunyu">収入</a>
                        <a href="#kotei">固定</a>
                        <a href="#tokubetu">特別</a>
                        <a href = "{% url 'zacklymain:main' %}">保存</a>
                    </div>                    
                </div>
            </div>
    </header>
    <!--編集ページ-->    
    <div class="container">
            <div class="row">
                <div class="edittop col-sm-4"><!--収入欄-->
                    <hr>
                    <h4 id = "syunyu">収入</h4>
                    
                    <form action ="/history/" method = "POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type = "submit" value = "保存">
                    </form>
                </div><!--収入欄ここまで-->
                <div class="edittop col-sm-4">
                    <hr>
                    <h4 id = "kotei">固定</h4>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                </div>
                <div class="edittop col-sm-4">
                    <hr>
                    <h4 id = "tokubetu">特別</h4>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "sp-fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "sp-fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "sp-fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "sp-fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "sp-fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                    <div class = "set">
                        <input class = "itemname" type = "text" placeholder="選択式にする">
                        <input class = "sp-fixedcost" type = "number" min = "0" placeholder="金額">
                    </div>
                </div>
            </div>
    </div>
    <footer><!--footer is fixed-->
        <p>ふったー</p>
    </footer>    
    <!--bootstrap CDN JS、Popper.js、jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>