<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--bootstrap CDN css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--static file css-->
    <link rel="stylesheet" type="text/css" href="{% static 'zacklymain/style.css' %}" />
    <title>Zackly</title>
</head>
<body>
    <!--トップページ-->
    <div>
        <h1>Zackly</h1>
        <a>新規作成(g)</a>
        <a>ログイン(g)</a>
    </div>
    <h2>使えるお金がざっくりわかる！Zackly</h2>
    <h3>一言説明のちょっと詳しい説明</h3>
    <p>{{ hour }}</p>
    <div>
        <a href = "">新規作成</a>
        <a href = "">ログイン</a>
    </div>
    <a href ="{% url 'zacklymain:main' %}">メインページ</a>
    <a href ="{% url 'zacklymain:history' %}">履歴ページ</a>
    
    <form action="/your-name/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="送信">
    </form>
    <!--bootstrap CDN JS、Popper.js、jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>